<div class="container">
	<div id="editor" class="row">
		<div class="col-xs-9">
			<div id="card-preview" class="card">
				<div id="text-preview" class="text">What are my parents hiding from me?</div>
				<div class="logo"><%= image_tag("logo-whitebg.png") %></div>
			</div>
		</div>
		<div class="col-xs-3">
			<form role="form">
				<div class="form-group">
					<label>Type</label>
					<select id="card-type" class="form-control">
						<option value="white">White</option>
						<option value="black">Black</option>
					</select>
				</div>
				<div class="form-group">
					<label>Text</label>
					<textarea id="card-text" class="form-control" rows="5"></textarea>
				</div>
				<div class="form-group">
					<label>Set</label>
					<select id="card-set" class="form-control">
						<option>Silicon Valley</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>